PORT=porta onde deve ser executado o servidor
SWAGGER_PORT=porta para o swagger
DB_NAME=arquivo do banco de dados sqlite3
URL_API=url da api

PORT=INTEGER
SWAGGER_PORT=INTEGER
DB_NAME=nomeDoBanco.sqlite
URL_API=https://urlDaApi/