<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2">
  <title>API PetShop</title>

  <!-- Importando Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      color: #333;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      min-height: 100vh;
    }

    .container {
      max-width: 900px;
      width: 100%;
      padding: 20px;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
    }

    h1 {
      color: #080808;
      font-size: 1.8rem;
    }

    .btn-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .btn {
      min-width: 150px;
      margin: 5px;
      max-width: 200px;
    }

    .github-link {
      margin-top: 15px;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Bem-vindo à API da <a href="<%= process.env.FRONTEND_URL %>" target="_blank">PetShop</a></h1>

    <p>Endpoints disponíveis:</p>
    <div class="btn-container">
      <a href="/tutors" class="btn grey darken-1" target="_blank">Tutors</a>
      <a href="/pets" class="btn grey darken-1" target="_blank">Pets</a>
      <a href="/products" class="btn grey darken-1" target="_blank">Products</a>
      <a href="/services" class="btn grey darken-1" target="_blank">Services</a>
      <a href="/orders" class="btn grey darken-1" target="_blank">Orders</a>
      <a href="/api-docs" class="btn grey darken-1" target="_blank">Swagger</a>
    </div>

    <p>Métodos disponíveis:</p>
    <div class="btn-container">
      <a class="btn grey">GET</a>
      <a class="btn grey">GET por ID</a>
      <a class="btn grey">POST</a>
      <a class="btn grey">PATCH</a>
      <a class="btn grey">DELETE</a>
    </div>

    <div class="github-link">
      <h5>Repositório do projeto:</h5>
      <a href="https://github.com/sucsnj/petshop" target="_blank" class="btn grey darken-2">PetShop</a>
    </div>

    <h5>Desenvolvedores:</h5>
    <div class="btn-container">
      <a href="https://github.com/AlysonThadeu" class="btn grey darken-3" target="_blank">Alyson Thadeu</a>
      <a href="https://github.com/Ryuki49" class="btn grey darken-3" target="_blank">Anthony Richard</a>
      <a href="https://github.com/sucsnj" class="btn grey darken-3" target="_blank">Carlos Santana</a>
      <a href="https://github.com/Edvan-Junior" class="btn grey darken-3" target="_blank">Edvan Cordeiro</a>
      <a href="https://github.com/RogensRocha" class="btn grey darken-3" target="_blank">Rogens Emanuel</a>
    </div>
  </div>

  <!-- Importando Materialize JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>