<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API PetShop</title>
</head>

<body>
  <h1>Bem vindo a API da PetShop</h1>
  <p>Os endpoints disponíveis são:</p>

  <ul>
    <li><a href="/users" target="_blank">users</a></li>
    <li><a href="/tutors" target="_blank">tutors</a></li>
    <li><a href="/pets" target="_blank">pets</a></li>
    <li><a href="/products" target="_blank">products</a></li>
    <li><a href="/services" target="_blank">services</a></li>
    <li><a href="/orders" target="_blank">orders</a></li>
    <li><a href="/api-docs" target="_blank">swagger</a></li>
  </ul>
  <p>Cada endpoint possui seus respectivos métodos:</p>
  <ul>
    <li><a href="#">GET</a></li>
    <li><a href="#">GET por ID</a></li>
    <li><a href="#">POST</a></li>
    <li><a href="#">PATCH</a></li>
    <li><a href="#">DELETE</a></li>
  </ul>

  <h3>Para saber mais sobre o projeto, acesse o repositório no github: <a href="https://github.com/sucsnj/petshop"
      target="_blank">PetShop</a></h3>

  <ul>
    <p>Projeto desenvolvido por:</p>
    <li><a href="https://github.com/AlysonThadeu" target="_blank">Alyson Thadeu</a></p>
    <li><a href="https://github.com/Ryuki49" target="_blank">Anthony Richard</a></p>
    <li><a href="https://github.com/sucsnj" target="_blank">Carlos Santana</a></p>
    <li><a href="https://github.com/Edvan-Junior" target="_blank">Edvan Cordeiro</a></p>
    <li><a href="https://github.com/RogensRocha" target="_blank">Rogens Emanuel</a></p>
  </ul>

</body>

</html>