<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Starter Template - Materialize</title>

  <!-- CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#" class="sidenav-trigger">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container row col s12">
    <ul class="tabs">
      <li id="tab_pet" class="tab col s2"><a class="active" href="#petMenu">PET</a></li>
      <li id="tab_tutor" class="tab col s2"><a class="" href="#tutorMenu">TUTOR</a></li>
      <li id="tab_produto" class="tab col s2"><a class="" href="#produtoMenu">PRODUTO</a></li>
      <li id="tab_servico" class="tab col s2"><a class="" href="#servicoMenu">SERVIÇO</a></li>
      <li id="tab_pedido" class="tab col s3"><a class="" href="#pedidoMenu">PEDIDO</a></li>
    </ul>
  </div>

  <!-- começo do menu de pets -->
  <div id="petMenu" class="container">
    <div class="row">
      <div class="col s3">
        <a id="btn_novoPet" class="waves-effect waves-light btn">Novo</a>
      </div>

      <form id="petForm" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">pets</i>
            <input id="name" name="name" type="text" class="validate" data-label="Nome do Pet">
            <label for="name">Nome do Pet</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">android</i>
            <input id="species" name="species" type="tel" class="validate" data-label="Espécie">
            <label for="species">Espécie</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">android</i>
            <input id="age" name="age" type="number" class="validate" data-label="Idade">
            <label for="age">Idade</label>
          </div>
          <div id="tutorListDiv" class="input-field col s6">
            <select name="tutorId" id="tutorId" class="browser-default" data-label="Tutor" required>
              <!-- lista dinamica de tutores -->
            </select><br>
          </div>
          <div class="col s3">
            <a id="btn_salvarPet" class="waves-effect waves-light btn">Enviar</a>
          </div>
          <div class="col s3">
            <a id="btn_voltarPet" class="waves-effect waves-light btn">Voltar</a>
          </div>
        </div>
      </form>
    </div>

    <table id="table_pet">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Espécie</th>
          <th>Idade</th>
          <th>Tutor</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody id="pet_list">
        <!-- lista de pets gerada aqui -->
      </tbody>
    </table>
  </div>

  <!-- começo do menu de tutores -->
  <div id="tutorMenu" class="container">
    <div class="row">
      <div class="col s3">
        <a id="btn_novoTutor" class="waves-effect waves-light btn">Novo</a>
      </div>

      <form id="tutorForm" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">person</i>
            <input id="nameTutor" name="name" type="text" data-label="Nome do Tutor" class="validate">
            <label for="nameTutor">Nome do Tutor</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">email</i>
            <input id="email" name="email" type="text" data-label="Email" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="phone" name="phone" type="tel" data-label="Telefone" class="validate">
            <label for="phone">Telefone</label>
          </div>
          <div class="input-field col s12">
            <!-- está criando uma div invisível para oculpar o bloco -->
          </div>
          <div class="col s3">
            <a id="btn_salvarTutor" class="waves-effect waves-light btn">Enviar</a>
          </div>
          <div class="col s3">
            <a id="btn_voltarTutor" class="waves-effect waves-light btn">Voltar</a>
          </div>
        </div>
      </form>
    </div>

    <table id="table_tutor">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody id="tutor_list">
        <!-- lista de tutores gerada aqui -->
      </tbody>
    </table>
  </div>

  <!-- começo do menu de produtos -->
  <div id="produtoMenu" class="container">
    <div class="row">
      <div class="col s3">
        <a id="btn_novoProduto" class="waves-effect waves-light btn">Novo</a>
      </div>

      <form id="produtoForm" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">person</i>
            <input id="nameProduto" name="name" type="text" data-label="Nome do Produto" class="validate">
            <label for="nameProduto">Nome do Produto</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">Preço</i>
            <input id="price" name="price" type="number" data-label="Preço" class="validate">
            <label for="price">Preço</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="category" name="category" type="text" data-label="Categoria" class="validate">
            <label for="category">Categoria</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="stock" name="stock" type="number" data-label="Estoque" class="validate">
            <label for="stock">Estoque</label>
          </div>
          <div class="input-field col s12">
            <!-- está criando uma div invisível para oculpar o bloco -->
          </div>
          <div class="col s3">
            <a id="btn_salvarProduto" class="waves-effect waves-light btn">Enviar</a>
          </div>
          <div class="col s3">
            <a id="btn_voltarProduto" class="waves-effect waves-light btn">Voltar</a>
          </div>
        </div>
      </form>
    </div>

    <table id="table_produto">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Preço</th>
          <th>Categoria</th>
          <th>Estoque</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody id="produto_list">
        <!-- lista de tutores gerada aqui -->
      </tbody>
    </table>

  </div>

  <!-- começo do menu de serviços -->
  <div id="servicoMenu" class="container">
    <div class="row">
      <div class="col s3">
        <a id="btn_novoServico" class="waves-effect waves-light btn">Novo</a>
      </div>

      <form id="servicoForm" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">person</i>
            <input id="nameServico" name="name" type="text" data-label="Nome do Serviço" class="validate">
            <label for="nameServico">Nome do Serviço</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">email</i>
            <input id="price" name="price" type="number" data-label="price" class="validate">
            <label for="price">Preço</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="duration" name="duration" type="text" data-label="Duração" class="validate">
            <label for="duration">Duração</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="description" name="description" type="text" data-label="Descrição" class="validate">
            <label for="description">Descrição</label>
          </div>
          <div class="col s3">
            <a id="btn_salvarServico" class="waves-effect waves-light btn">Enviar</a>
          </div>
          <div class="col s3">
            <a id="btn_voltarServico" class="waves-effect waves-light btn">Voltar</a>
          </div>
        </div>
      </form>
    </div>

    <table id="table_servico">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Preço</th>
          <th>Duração</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody id="servico_list">
        <!-- lista de serviços gerada aqui -->
      </tbody>
    </table>
  </div>

  <!-- começo do menu de pedidos TODO -->
  <div id="pedidoMenu" class="container">
    <div class="row">
      <!-- <div class="col s3"> não necessário
        <a id="btn_novoTutor" class="waves-effect waves-light btn">Novo</a>
      </div> -->

      <form id="pedidoForm" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <select name="" onchange="pegarTutor(event.target)" id="listaTutor" class="browser-default"
              data-label="Tutor" required>
              <option value="">Tutor</option>
              <!-- lista dinamica de tutores -->
            </select><br>
          </div>
          <div class="input-field col s6">
            <select name="" id="listaPet" class="browser-default" data-label="Pet" required>
              <option value="">Pet</option>
              <!-- lista dinamica de pets -->
            </select><br>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="phone" name="phone" type="tel" data-label="Telefone" class="validate">
            <label for="phone">Telefone</label>
          </div>
          <div class="input-field col s12">
            <!-- está criando uma div invisível para oculpar o bloco -->
          </div>
          <div class="col s3">
            <a id="btn_salvarTutor" class="waves-effect waves-light btn">Enviar</a>
          </div>
          <div class="col s3">
            <a id="btn_voltarTutor" class="waves-effect waves-light btn">Voltar</a>
          </div>
        </div>
      </form>
    </div>

    <table id="table_tutor">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody id="tutor_list">
        <!-- lista de tutores gerada aqui -->
      </tbody>
    </table>
  </div>

  <!-- Scripts-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> --> <!-- versão antiga do jquery-->>
  <!-- <script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"></script> --> <!-- verifica a compatibilidade com verões acima da 3.0.0-->>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="javascripts/script.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>
</html>