<!-- Cards de Contato -->
<div class="cards-wrapper">

  <div class="card contact-card">
    <div class="card-content">
      <img src="https://github.com/AlysonThadeu.png" alt="Alyson">
      <h6>Alyson Thadeu</h6>
      <a href="https://github.com/AlysonThadeu" target="_blank">GitHub</a><br>
      <a href="https://www.linkedin.com/in/alyson-thadeu-07580a127/" target="_blank">LinkedIn</a>
      <br>
      <a href="mailto:alyson@email.com?subject=Contato pelo site da petshop">Email</a>
    </div>
  </div>

  <div class="card contact-card">
    <div class="card-content">
      <img src="https://avatars.githubusercontent.com/u/199141398?v=4" alt="Anthony">
      <h6>Anthony Rychard</h6>
      <a href="https://github.com/Ryuki49" target="_blank">GitHub</a><br>
      <a href="https://www.linkedin.com/in/anthony-rchard-90ab2a327/" target="_blank">LinkedIn</a>
      <br>
      <a href="mailto:anthonyrychard07@gmail.com?subject=Contato pelo site da petshop">Email</a>
    </div>
  </div>

  <div class="card contact-card">
    <div class="card-content">
      <img src="https://avatars.githubusercontent.com/u/78510176?v=4" alt="Carlos">
      <h6>Carlos Santana</h6>
      <a href="https://github.com/sucsnj" target="_blank">GitHub</a><br>
      <a href="https://www.linkedin.com/in/carlos-santana-do-nascimento-júnior-4177781a1/" target="_blank">LinkedIn</a>
      <br>
      <a href="mailto:carlos.nascimento.jr@outlook.com?subject=Contato pelo site da petshop">Email</a>
    </div>
  </div>

  <div class="card contact-card">
    <div class="card-content">
      <img src="https://avatars.githubusercontent.com/u/177867558?v=4" alt="Edvan">
      <h6>Edvan Cordeiro</h6>
      <a href="https://github.com/Edvan-Junior" target="_blank">GitHub</a><br>
      <a href="https://www.linkedin.com/in/edvan-cordeiro-de-lima-junior-83a361136/" target="_blank">LinkedIn</a>
      <br>
      <a href="mailto:edvan@email.com?subject=Contato pelo site da petshop">Email</a>
    </div>
  </div>

  <div class="card contact-card">
    <div class="card-content">
      <img src="https://avatars.githubusercontent.com/u/197847932?v=4" alt="Rogens">
      <h6>Rogens Emanuel</h6>
      <a href="https://github.com/RogensRocha" target="_blank">GitHub</a><br>
      <a href="https://www.linkedin.com/in/rogens-emanuel-b09b572b7/" target="_blank">LinkedIn</a>
      <br>
      <a href="mailto:rogens@email.com?subject=Contato pelo site da petshop">Email</a>
    </div>
  </div>

</div>
<!-- Seção Sobre -->
<div class="section center-align">
  <div class="container">
    <h4>Sobre o Projeto</h4>
    <p>Esta é uma lista de contatos dos membros da equipe, com links para seus perfis profissionais.</p>
  </div>
</div>