<div class="container">
    <div class="card-panel teal lighten-2 white-text center-align">
        <h4>Bem-vindo ao Dashboard</h4>
        <p>Você está autenticado e pode acessar recursos protegidos!</p>
    </div>

    <div class="row">
        <div class="col s12 center-align">
            <button id="logout" class="btn waves-effect waves-light red darken-1">
                <i class="material-icons left">exit_to_app</i> Sair
            </button>
        </div>
    </div>
</div>
