<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center-align blue-text text-darken-3">Login</span>
                    <form id="loginForm">
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input type="text" id="username" name="username" required>
                            <label for="username">Usuário</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input type="password" id="password" name="password" required>
                            <label for="password">Senha</label>
                        </div>
                        <button class="btn waves-effect waves-light blue darken-3" type="submit">
                            <i class="material-icons left">login</i>Entrar
                        </button>
                    </form>
                </div>
                <div class="card-action center-align">
                    <a href="/register" class="blue-text text-darken-3">Criar conta</a>
                </div>
            </div>
        </div>
    </div>
</div>
