<div id="pedidoMenu" class="container">
    <div class="row">
        <h1 style="font-size: 24px;">Digite aqui o seu pedido!</h1>

        <div class="col s3">
            <a id="btn_novoPedido" class="waves-effect waves-light btn">Novo</a>
        </div>
    </div>

    <form id="pedidoForm">
        <div class="row">

            <!-- Campo Cliente -->
            <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                <input id="cliente" name="cliente" type="text" class="validate">
                <label for="cliente">Cliente</label>
            </div>

            <!-- Campo Nome do Pet -->
            <div class="input-field col s6">
                <i class="material-icons prefix">pets</i>
                <input id="pet" name="pet" type="text" class="validate">
                <label for="pet">Nome do Pet</label>
            </div>
            <!-- Card Produtos -->
            <div id="produtos-container">
                <div class="card produtos col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">add_shopping_cart</i>
                            <select name="Produto" class="browser-default"></select>
                            <label class="active" style="margin-top: 10px;">Produto</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">control_point</i>
                            <input class="quantProduto" name="quantProduto[]" type="number" min="1" class="validate"
                                data-label="Quantidade do Produto">
                            <label class="active" style="margin-top: 10px;">Quantidade do Produto</label>
                        </div>
                        <!-- Botão para adicionar produto -->
                        <div class="col s3">
                            <a class="waves-effect waves-light btn btnAdicionarProduto">Adicionar Produto</a>
                        </div>
                        <!-- Botão para remover produto -->
                        <div class="col s3">
                            <a class="waves-effect waves-light btn btnRemoverProduto">Remover Produto</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Serviços -->
            <div id="servico-container">
                <div id="1" class="card produtos col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">build</i>
                            <select id="servico" name="servico" class="browser-default"></select>
                            <label class="active" for="servico" style="margin-top: 10px;">Serviço</label>
                        </div>
                    </div>
                    <!-- Botão para adicionar Servico -->
                    <div class="col s3">
                        <a class="waves-effect waves-light btn btnAdicionarServico" style="margin-bottom: 10px;">Adicionar Servico</a>                            
                    </div>
                    <!-- Botão para remover Servico -->
                    <div class="col s3">
                        <a class="waves-effect waves-light btn btnRemoverServico" style="margin-bottom: 10px;">Remover Servico</a>                            
                    </div>
                </div>
            </div>
            <!-- Valor Total -->
            <div id="results" class="input-field col s12">
                <i class="material-icons prefix">dashboard</i>
                <input id="valortotal" type="text">
                <label for="valortotal">Valor total:</label>
            </div>

            <!-- Botões -->
            <div class="col s3">
                <a id="btn_enviarPedido" class="waves-effect waves-light btn">Enviar</a>
            </div>

            <div class="col s3">
                <a id="btn_voltarPedido" class="waves-effect waves-light btn">Voltar</a>
            </div>

        </div>
    </form>

    <table id="table_pedido">
        <thead>
            <tr>
                <th>Número da nota</th>
                <th>Tutor</th>
                <th>Valor Total</th>
                <th>Situação</th>
            </tr>
        </thead>

        <tbody id="pedido_list">
            <!-- lista de pets gerada aqui -->
        </tbody>
    </table>
</div>