<div id="tutorMenu" class="container">
    <div class="row">
        <div class="col s3">
            <a id="btn_novoTutor" class="waves-effect waves-light btn blue darken-3">
                <i class="material-icons left">add</i>Novo
            </a>
        </div>
    </div>

    <form id="tutorForm" class="card-panel blue lighten-5">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                <input id="nameTutor" name="name" type="text" data-label="Nome do Tutor" class="validate">
                <label for="nameTutor">Nome do Tutor</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="email" name="email" type="email" data-label="Email" class="validate">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">call</i>
                <input id="phone" name="phone" type="tel" data-label="Telefone" class="validate">
                <label for="phone">Telefone</label>
            </div>
        </div>

        <div class="row">
            <div class="col s3">
                <a id="btn_salvarTutor" class="waves-effect waves-light btn green">
                    <i class="material-icons left">send</i>Enviar
                </a>
            </div>
            <div class="col s3">
                <a id="btn_voltarTutor" class="waves-effect waves-light btn red">
                    <i class="material-icons left">arrow_back</i>Voltar
                </a>
            </div>
        </div>
    </form>

    <table id="table_tutor" class="highlight centered striped">
        <thead class="blue darken-3 white-text">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="tutor_list">
            <!-- lista de tutores gerada aqui -->
        </tbody>
    </table>
</div>
