<footer class="page-footer blue darken-3">
    <div class="footer-copyright">
        <ul class="footer-links">
            <li><a class="white-text" href="/contact">Contato</a></li>
            <li><a class="white-text" href="#!">GitHub</a></li>
            <li><a class="white-text" href="#!">API</a></li>
            <li><a class="white-text" href="#!">Sobre</a></li>
        </ul>
        <p class="white-text">© 2025 Todos os direitos reservados.</p>
    </div>
</footer>