<div id="cabeçalho">
    <nav class="blue darken-3" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">
                <i class="material-icons">pets</i> PetShop
            </a>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>

            <ul class="right hide-on-med-and-down">
                <li><a href="/pets" class="nav-link"><i class="material-icons">pets</i><span>Pets</span></a></li>
                <li><a href="/tutors" class="nav-link"><i class="material-icons">person</i><span>Tutores</span></a></li>
                <li><a href="/products" class="nav-link"><i
                            class="material-icons">shopping_bag</i><span>Produtos</span></a></li>
                <li><a href="/services" class="nav-link"><i class="material-icons">local_hospital</i><span>Serviços</span></a>
                </li>
                <li><a href="/orders" class="nav-link"><i class="material-icons">assignment</i><span>Pedidos</span></a>
                </li>
                <li id="login_logout" class="login_logout"><a href="/login" class="nav-link"><i class="material-icons">login</i><span>Login</span></a></li>
                <li id="dashboard" class="dashboard"><a href="/dashboard" class="nav-link"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
                </li>
            </ul>

        </div>
    </nav>

    <ul id="nav-mobile" class="sidenav blue lighten-2">
        <li><a href="/pets"><i class="material-icons">pets</i> Pets</a></li>
        <li><a href="/tutors"><i class="material-icons">person</i> Tutores</a></li>
        <li><a href="/products"><i class="material-icons">shopping_bag</i> Produtos</a></li>
        <li><a href="/services"><i class="material-icons">local_hospital</i> Serviços</a></li>
        <li><a href="/orders"><i class="material-icons">assignment</i> Pedidos</a></li>
        <li id="login_logout_m" class="login_logout"><a href="/login" class="nav-link"><i class="material-icons">login</i><span>Login</span></a></li>
        <li id="dashboard_m" class="dashboard"><a href="/dashboard" class="nav-link"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
    </ul>
</div>