<div id="janelaAlerta">
    <h1 id="tituloAlerta">Título</h1>
    <p id="mensagemAlerta">Mensagem</p>
    <br>
    <a id="fecharJanelaAlerta" class="waves-effect waves-light btn"><i class="material-icons left"></i>Fechar</a>
</div>

<div id="bloqueioDeFundo"></div>